<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />
    <link rel='stylesheet' href="/stylesheets/bulma.css">
    <link rel='stylesheet' href="/stylesheets/style.css">
  </head>
  <body>
      <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
          <h1 style="margin-top:1%;margin-left:2%; font-size:34px;"><%= title %></h1>
          
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/cars">Sweet Rides</a>
            <a class="navbar-item" href="#">Private, Eventually</a>
        </div>
        </nav>
 <div id="main">